h1 {

}
h1{
	font-size: 15
}
h1 {
	color: 5f4c3f
}
h1 {
	.right {
    position: absolute;
     right: 100px;
     width: 300px;
     border: 3px solid #73AD21;
    padding: 10px;
	}
}
body{
	background-color: C0C0C0
}